name: bravo

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions: {}

jobs:
  build-image:
    name: Build image
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      id-token: write
    env:
      _USERNAME: fntyler
      _REPOSITORY_NAME: purple-workflow
    steps:
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 1
          persist-credentials: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set metadata
        uses: docker/metadata-action@v5
        id: docker-meta
        with:
          images: ghcr.io/${{ env._USERNAME }}/${{ env._REPOSITORY_NAME }}
          tags: |
            type=ref,event=pr
            type=ref,event=tag

      - name: Build and Push container images
        uses: docker/build-push-action@v6.18.0
        id: build-and-push
        with:
          platforms: linux/amd64,linux/arm64
          file: docker/Dockerfile
          push: true
          tags: ${{ steps.docker-meta.outputs.tags }}

      - name: Debug
        run: |
          echo "github sha: ${{ github.sha }}"
          echo "github ref: ${{ github.ref }}"
          echo "github event: ${{ github.event.ref }}"
          echo "github event_name: ${{ github.event_name }}"
          echo "github event_path: ${{ github.event_path }}"

